.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: #0a65ff;
  height: auto;
  width: 100%;
  color: #FFFFFF;
}

.footer-text{
  display: flex;
  width: 80%;
}