.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: rgb(10, 101, 255);
  height: auto;
  width: 100%;
  color: rgb(235, 238, 255);
}

.footer-text{
  display: flex;
  width: 80%;
}