header {
  width: 94%;
  margin: auto;
}

.header-container {
  display: flex;
  justify-content: center
}

.links-container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.page-links {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.page-links:hover {
  color: rgb(10, 101, 255);
}

.logo-container {
  display: flex;
  width: 50%;
  
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 600;
  justify-content: flex-start;
  margin: 10px 20px;
  text-decoration: none;
}

.logo:hover {
  color: rgb(10, 101, 255);
}

.header-link {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
