main {
  width: 90%;
  margin: auto;
}

h2 {
  margin-bottom: 40px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: auto;
}

.introduction-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 800;
  color: white;
  background-color: rgb(10, 101, 255);
  width: max-content;
}

.developer-image {
  height: 30rem;
  margin-left: 2rem;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.technologie {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
}

.technologie:hover {
  color: rgb(104, 155, 243);
}

.title {
  font-weight: 700;
  color: white;
  width: max-content;
  border-bottom: #EBEEFF solid 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: rgb(10, 101, 255);
}

.icons-container {
  display: flex;
}

.icons-sub-container {
  margin-right: 30px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.external-links {
  text-decoration: none;
  color: white;
}

.external-links:hover {
  color: rgb(104, 155, 243);
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: 26%;
  height: 18rem;
  background-color: rgb(235, 238, 255);
  color: #050a24;
  margin: 0px 30px;
  margin-bottom: 30px;
}